body {
  text-align: center;
  margin-top: 30px;
  font-family: "Courier";
  background-color: #17202a;
  color: #00FFFF;
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 40px;
}

form .header {
  width: 100%;
  display: flex;
  font-size: 20px;
  margin-bottom: 20px;
  color: #00FFFF;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
}

.button {
  padding: 6px 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 10px;
  font-family: "courier";
  margin-bottom: 10px;
  background-color: #00FFFF;
  color: #17202a;
  border-radius: 12px;
  border: 2px solid #00FFFF;
  transition: 0.3s;
}


input[type="date"] {
  padding: 6px 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 10px;
  font-family: "courier";
  margin-bottom: 10px;
  background-color: #00FFFF;
  color: #17202a;
  border-radius: 12px;
  border: 2px solid #17202a;
}
